footer {
    position: relative;
    bottom: 0;
    background-color: #2B2D42;
    color: #EDF2F4;
    padding-top: 40px;
    text-align: center;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}