html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

.header {
  width: 100%;
}
.header_nav {
  width: 80%;
  margin: 0;
  background-color: #024959;
  position: absolute;
  top: 0;
}
.header_nav-ul-li {
  display: block;
  float: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header_menu {
  display: block;
  width: 100%;
  background: #ccc;
}
.header_menu-bt {
  display: block;
  padding: 20px;
  background: #024959;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  box-sizing: border-box;
}

.links {
  color: #fff;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
}

.links:hover {
  background: #037E8C;
}

.item {
  margin-right: 10px;
}

.sandwich-icon {
  float: right;
  font-size: 40px;
}

@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?c38kjg");
  src: url("./fonts/icomoon.eot?c38kjg#iefix") format("embedded-opentype"), url("./fonts/icomoon.ttf?c38kjg") format("truetype"), url("./fonts/icomoon.woff?c38kjg") format("woff"), url("./fonts/icomoon.svg?c38kjg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}

.icon-dice:before {
  content: "\e915";
}

.icon-book:before {
  content: "\e91f";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-menu:before {
  content: "\e9bd";
}

h3 {
  color: #2B2D42;
  font-size: 40px;
  font-family: cursive;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  font-family: 'adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif';
  color: #2B2D42;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
}

.sectionone {
  width: 100;
  display: grid;
  grid-template-columns: 1fr;
}
.sectionone_firstarticle {
  background-color: #2B2D42;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.sectionone_firstarticle-text {
  color: #EDF2F4;
}
.sectionone_secondarticle {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}
.sectionone_secondarticle-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sectiontwo {
  display: block;
}
.sectiontwo_thirdarticle {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.sectionthree {
  background-color: #2B2D42;
  color: #EDF2F4;
  text-align: center;
}

.img-glasses {
  width: 20%;
}

.salute {
  color: #EDF2F4;
  font-family: "Caveat", cursive;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-style: bold;
}

.title {
  color: #EDF2F4;
  text-align: center;
  margin-left: 10px;
}

.article_title {
  font-size: 50px;
  color: #2B2D42;
  font-family: cursive;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10%;
}

.designer-img {
  width: 40%;
}

.developer-img {
  width: 40%;
}

.description {
  margin-bottom: 20px;
}

.bottom-title {
  margin-top: 10%;
  font-family: "Caveat", cursive;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-style: bold;
  color: #EDF2F4;
}

.bottomarticle-title {
  color: #EDF2F4;
  font-size: 25px;
}

.bottomarticle-text {
  font-size: 20px;
  color: #EDF2F4;
}

.copyright {
  color: #EDF2F4;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #2B2D42;
  color: #EDF2F4;
  padding-top: 40px;
  text-align: center;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

body {
  background-color: #e0ebe8;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.experience h3 {
  font-size: 25px;
  margin-top: 10%;
}
.experience h1 {
  font-size: 50px;
  font-weight: 700;
  color: #EDF2F4;
}
.experience p {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.experience .content {
  text-align: center;
  margin-bottom: 5%;
}
.experience .sectionexp {
  display: flex;
  flex-direction: column;
}
.experience .sectionexp_article {
  padding-top: 5%;
  margin-bottom: 5%;
}
.experience .sectionexp_article-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 20px;
}
.experience .maintitle {
  width: 100%;
  background-color: #2B2D42;
  padding-bottom: 5%;
  padding-top: 5%;
}
.experience .tasks {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}
.experience .uppercase {
  text-transform: uppercase;
}
.experience .logo-eulerian {
  width: 50%;
}
.experience .logo-excem {
  width: 50%;
}
.experience .logo-nexthink {
  width: 50%;
}
.experience .logo-sia {
  width: 50%;
}
.experience .logo-artica {
  width: 50%;
}
@media only screen and (min-width: 800px) {
  .experience .sectionexp_article {
    padding-top: 2%;
    margin-bottom: 2%;
  }
  .experience .sectionexp_article-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: center;
    align-self: normal;
  }
  .experience .sectionexp_article-textcontainer {
    margin-left: 25%;
  }
  .experience .logo-eulerian {
    width: 20%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .experience .logo-excem {
    width: 15%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .experience .logo-nexthink {
    width: 15%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .experience .logo-sia {
    width: 15%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .experience .logo-artica {
    width: 15%;
    margin-right: 5%;
    margin-top: 4%;
  }
  .experience h3 {
    margin-top: 4%;
  }
  .experience .top-title {
    margin-top: 4%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 920px) {
  .header_menu {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header_nav {
    width: 100%;
    margin: 0 auto 20% auto;
    position: fixed;
  }
  .header_nav-ul {
    width: 100%;
    overflow: hidden;
  }
  .header_nav-ul-li {
    float: left;
    border-bottom: none;
  }
  .content {
    padding-top: 5%;
  }
  .img-glasses {
    width: 11%;
  }
  .sectiontwo_thirdarticle-items {
    display: flex;
    justify-content: center;
  }
  .article-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10%;
  }
  .sectiontwo-title {
    margin-bottom: 40px;
  }
  .description {
    margin-left: 8%;
    margin-right: 8%;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1024px) {
  .header_menu {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header_nav {
    width: 100%;
    margin: 0 auto 20% auto;
    position: fixed;
  }
  .header_nav-ul {
    width: 100%;
    overflow: hidden;
  }
  .header_nav-ul-li {
    float: left;
    border-bottom: none;
  }
  .content {
    padding-top: 49px;
  }
  .img-glasses {
    width: 11%;
  }
  .sectiontwo_thirdarticle-items {
    display: flex;
    justify-content: center;
  }
  .article-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10%;
  }
  .sectiontwo-title {
    margin-bottom: 40px;
  }
  .description {
    margin-left: 8%;
    margin-right: 8%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .header_menu {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header_nav {
    width: 100%;
    height: 6, 5%;
    margin: 0 auto 0 auto;
    position: fixed;
  }
  .header_nav-ul {
    width: 100%;
    overflow: hidden;
  }
  .header_nav-ul-li {
    float: left;
    border-bottom: none;
  }
  .content {
    padding-top: 55px;
  }
  .img-glasses {
    width: 11%;
  }
  .sectiontwo_thirdarticle-items {
    display: flex;
    justify-content: center;
  }
  .article-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10%;
  }
  .sectiontwo-title {
    margin-bottom: 40px;
  }
  .description {
    margin-left: 8%;
    margin-right: 8%;
  }
}
@media only screen and (min-width: 1400px) {
  .header_menu {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header_nav {
    width: 100%;
    height: 6, 5%;
    margin: 0 auto 0 auto;
    position: fixed;
  }
  .header_nav-ul {
    width: 100%;
    overflow: hidden;
  }
  .header_nav-ul-li {
    float: left;
    border-bottom: none;
  }
  .content {
    padding-top: 55px;
  }
  .img-glasses {
    width: 7%;
  }
  .sectiontwo_thirdarticle-items {
    display: flex;
    justify-content: center;
  }
  .article-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10%;
  }
  .sectiontwo-title {
    margin-bottom: 40px;
  }
  .description {
    margin-left: 8%;
    margin-right: 8%;
  }
}/*# sourceMappingURL=main.css.map */